@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    margin-bottom: -1%;
}

#header1 {
  background: #1C1C1C;
  display:block;
  width:auto;
  margin-left: -0.4%;
  margin-right: -0.4%;
  margin-top: -1.7%;
  padding-bottom: 1%;
}

h1 {
    font-family: 'PT Serif', serif;
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;
    font-family: 'Lato', sans-serif; 
}

#main {
    margin-left: -0.4%;
    margin-right: -0.4%;
    margin-bottom: -30%;
    background: linear-gradient(#C33764, #1D2671);
  }


#livre {
    text-align: center;
}

#hungergames {
    text-align: center;
    position: relative;
    top: 7%;
}


.hr1 {
    position: relative;
    top: 10%;
    height: 1px;
    width: 99.5%;
    background-color: black;
}


.description {
    color : black;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif; 
    
}

/* CSS grid START */ 

.wrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 3px;
    grid-auto-rows: minmax(100px, auto);
}

.zero {
    grid-column: 1 / 22;
    grid-row: 1 / 32 ;
    background: linear-gradient(#11998e, #155799);
  }


/* Hunger games */

.one {
    grid-column: 3 / 7;
    grid-row: 2 / 10;
    background: whitesmoke;
    color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 12px 1px rgb(0, 0, 0);
  }

.two {
    grid-column: 3 / 7;
    grid-row: 7 / 10;
    background: whitesmoke;
    border-radius: 8px;
    z-index: 100;
  }

/* harry potter */

.three {
    grid-column: 9 / 13;
    grid-row: 2 / 10;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 12px 1px rgb(0, 0, 0);
  }

.four {
    grid-column: 9 / 13;
    grid-row: 7 / 10;
    background: whitesmoke;
    border-radius: 8px;
    z-index: 100;
  }

/* jojo's */

  .five {
    grid-column: 15 / 19;
    grid-row: 2 / 10;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 12px 1px rgb(0, 0, 0);
  }

.six {
  grid-column: 15 / 19;
    grid-row: 7 / 10;
    background: whitesmoke;
    border-radius: 8px;
    z-index: 100;
  }

/* got */

.seven {
    grid-column: 3 / 7;
    grid-row: 12 / 20;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 12px 1px rgb(0, 0, 0);
  }

.eight {
    grid-column: 3 / 7;
    grid-row:  17 / 20;
    background: whitesmoke;
    border-radius: 8px;
    z-index: 100;
  }

/* Siddharta */

.nine {
    grid-column: 9 / 13;
    grid-row: 12 / 20;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 12px 1px rgb(0, 0, 0);
  }

.ten {
    grid-column: 9 / 13;
    grid-row:  17 / 20;
    background: whitesmoke;
    border-radius: 8px;
    z-index: 100;
  }

  /* */


.eleven {
    grid-column: 15 / 19;
    grid-row: 12 / 20;
    background: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 12px 1px rgb(0, 0, 0);
  }

.twelve {
    grid-column: 15 / 19;
    grid-row:  17 / 20;
    background: whitesmoke;
    border-radius: 8px;
    z-index: 100;
  }

/* sa mère */

.thirteen {
  grid-column: 3 / 7;
  grid-row: 22 / 30;
  background: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 12px 1px rgb(0, 0, 0);
}

.fourteen {
  grid-column: 3 / 7;
  grid-row:  27 / 30;
  background: whitesmoke;
  border-radius: 8px;
  z-index: 100;
}

/* seigneur des anneaux */

.fifteen {
  grid-column: 9 / 13;
  grid-row: 22 / 30;
  background: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 12px 1px rgb(0, 0, 0);
}

.sixteen {
  grid-column: 9 / 13;
  grid-row:  27 / 30;
  background: whitesmoke;
  border-radius: 8px;
  z-index: 100;
}

/* Avengers */ 

.seventeen {
  grid-column: 15 / 19;
  grid-row: 22 / 30;
  background: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 12px 1px rgb(0, 0, 0);
}

.eighteen {
  grid-column: 15 / 19;
  grid-row:  27 / 30;
  background: whitesmoke;
  border-radius: 8px;
  z-index: 100;
}


/* CSS grid END */ 


/* nav - start*/

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
  transition-duration: 120ms;
  animation-direction: alternate;
  box-shadow: 0 0 10px 1px rgb(255, 255, 255);
  transform: scale(1.1);
}

.button {
  border: 1px solid;
  color:  white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 45px;  
  transition-duration: 1s;
  cursor: pointer;
  background: linear-gradient(#1C1C1C, rgb(45, 45, 45));
  border-color: rgb(255, 255, 255);
  margin-left: 240px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 10px 1px rgb(105, 105, 105);
}

.button:active{
border-color: rgb(255, 255, 255);
border: 1px solid whitesmoke;
}

/* nav - end */

/* Barre De Défillement Start */ 

body::-webkit-scrollbar {
  width: 1em; 
  background: rgb(175, 175, 175);
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
background: linear-gradient(rgb(56, 56, 56), #373B44);
outline: 1px solid slategrey;
border-radius: 12px;
}

/* Barre De Défillement End */